/*-- scss:defaults --*/
// fonts
$font-family-sans-serif: "TC-Phantasmagoria", serif;
$font-family-base: "TC-Phantasmagoria", serif;
$web-font-path: "No"; 

// colours
$link-color: #9c3a21;
$link-hover-color: #ad5a45;
$body-bg: #dbc8c3;

/*-- scss:rules --*/
@font-face {
  font-display: swap;
  font-family: 'TC-Phantasmagoria';
  src: url('fonts/TC-Phantasmagoria.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.title {
  $font-family: 'TC-Phantasmagoria', serif;
}

h3 {
  $font-family: 'TC-Phantasmagoria', serif;
  color: #444444;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}
