.title {
  font-family: 'TC-Phantasmagoria', serif;
}

.navbar {
  background-color: #c7b6b1
}

body {
  font-family: 'Fraunces', serif !important;
}

.old {
  font-family: 'TC-Phantasmagoria', serif;
}